services:
  opencode-core:
    build: ./opencode


  gateway:
    build: ./gateway

  admin:
    build: ./admin

  controller:
    build: ./controller

  channel-chat:
    build: ./channels/chat

  channel-discord:
    build: ./channels/discord

  channel-voice:
    build: ./channels/voice

  channel-telegram:
    build: ./channels/telegram
